@import url("https://fonts.googleapis.com/css2?family=Fragment+Mono&family=Work+Sans&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-color: #f1f2f6;
  width: 100%;
  height: 100%;
}

.main-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

/* LETTTERING */
.facebook-lettering {
  position: absolute;
  left: 30%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.header {
  color: #1a76ed;
  font-weight: 1000;
  font-size: 72px;
}

.content {
  font-size: 40px;
}

/* login form */
.loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 470px;
  height: 380px;
  background-color: #ffffff;
  position: absolute;
  right: 15%;
  box-shadow: 0px 0px 12px 1px #888888;
  border-radius: 8px;
}

.loginform input,
button {
  width: 80%;
  height: 44px;
  border: 1px solid #dddee2;
  border-radius: 8px;
}

.loginform input {
  padding: 25px;
}

.loginform button {
  color: #dbf6ff;
}

#submit {
  background-color: #1a76ed;
}

#line {
  width: 85%;
  border-bottom: 1px solid #d9d9db;
}

.hint {
  background-color: #36a421;
  width: 60%;
}

a {
  color: #1a76ed;
  text-decoration: none;
}

#pass {
  position: relative;
}

.material-symbols-outlined {
  position: absolute;
  right: 12%;
  top: 38%;
  color: #23272b;
  cursor: pointer;
}
#popup {
  text-align: center;
  width: 600px;
  height: 350px;
  position: absolute;
  top: 0.1rem;
  right: 15%;
  font-size: 36px;
  color: #1a76ed;
  visibility: hidden;
}

#counter {
  visibility: hidden;
}
