.aboutus-feed {
  padding-left: 500px;
  padding-right: 500px;
  padding-top: 250px;
  width: 100%;
  position: relative;
  margin: 0;
}
.left-section {
  position: absolute;
  top: 7.5%;
  left: 3.5%;
  width: 90px;
  height: 100%;
  padding-top: 110px;
}

.left-section h2 {
  font-size: 36px;
  line-height: 78px;
  transform-origin: 0 0;
  transform: rotate(90deg);
  white-space: nowrap;
  color: var(--black);
}

.redirectories {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  padding-bottom: 15px;
}

.r-home,
.r-slash {
  padding-right: 10px;
}

.r-home a {
  color: var(--black);
}
.r-home a:hover {
  text-decoration: underline;
  text-decoration-color: var(--main-color);
  text-underline-offset: 5px;
}

.r-slash {
  color: var(--main-color);
}

.r-topic {
  color: var(--black);
  font-weight: bold;
}

.aboutus-header-text {
  padding-bottom: 50px;
}
#aboutustext {
  color: var(--black);
  font-weight: 500;
}

.aboutus-banner {
  width: 100%;
  padding-bottom: 50px;
  border-bottom: 1px solid var(--main-color);
}

.aboutus-banner img {
  width: 100%;
  border-radius: 16px;
}

.aboutus-textbox {
  padding-top: 28px;
  color: var(--black);
  padding-bottom: 24px;
  border-bottom: 1px solid var(--main-color);
}

.aboutus-textbox h2 {
  padding-bottom: 16px;
}
.bold {
  color: var(--main-color);
}

.aboutus-text {
  line-height: 1.6;
  font-weight: 400;
  font-size: 18px;
}
