.about-me {
  width: 100%; /* Set the width to 100% of the parent container */
  display: flex; /* Enable flexbox for the hero section */
  align-items: left; /* Vertically center the content inside the hero section */
  padding-bottom: 40vh;
  position: relative;
}
.about-me .about-me-background {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 1.5rem;
  top: 0;
}
.about-me .about-me-text {
  width: 100%;
}

.about-me a {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: var(--color);
}

.about-me a:after {
  content: "";
  position: absolute;
  background-color: var(--color);
  height: 2.5px;
  width: 0%;
  bottom: -5px;
  left: 0;
  transition: 0.3s;
}
.about-me a:hover:after {
  width: 100%;
}
.about-me span {
  color: var(--color);
}

.about-me h2 {
  font-family: "Chewy", cursive;
  font-size: 66px; /* Set the font size to 48px */
  font-weight: 400;
  color: #fff;
  padding: 30px 0px;
}

.about-me p {
  line-height: 2;
  letter-spacing: 0.6px;
  font-size: 16px;
  margin-bottom: 30px;
}

