footer {
  padding: 20px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-contact h3 {
  font-family: "Chewy", cursive;
  font-weight: 400;
  margin: 12.5px 0px;
}
.footer-contact p {
  margin: 0;
}
.footer-copyright p {
  font-size: 12px;
}

.footer-buttons {
  display: flex;
}

.footer-buttons .btn {
  margin-left: 5px;
}

.footer-copyright {
  text-align: right;
}

.footer-buttons i {
  font-size: 50px;
  padding: 0px 10px;
}

.scroll-top {
  border: 2.5px solid #ffffff;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
}

.scroll-top:hover {
  background-color: #ffffff;
  color: var(--bg);
}
