/* The hero section */
.hero {
  padding-top: 15rem;
  width: 100%; /* Set the width to 100% of the parent container */
  display: flex; /* Enable flexbox for the hero section */
  align-items: left; /* Vertically center the content inside the hero section */
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40vh;
}

/* The hero title */
.hero h1 {
  font-family: "Chewy", cursive;
  font-size: 120px; /* Set the font size to 48px */
  font-weight: 400;
  color: #fff;
}

/* The hero subtitle */
.hero p {
  font-size: 26px; /* Set the font size to 24px */
  color: #fff; /* Set the text color to white */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a text shadow */
  text-align: left; /* Center the text */
}

.hero .colored {
  color: var(--color);
}

.hero .cursor {
  font-size: 26px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
