.journal {
  padding-bottom: 35vh;
}

.journal h1 {
  font-family: "Chewy", cursive;
  font-size: 66px; /* Set the font size to 48px */
  font-weight: 400;
  color: #fff;
  padding-bottom: 90px;
  text-align: center;
}

.popup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px 30px;
  grid-auto-flow: row;
  grid-template-areas:
    "Classroom Court"
    "Church Culture"
    "Community Community";
}

.popup img {
  width: 100%;
}

.Community {
  grid-area: Community;
  border: 2.5px solid #ffffff;
  cursor: pointer;
}

.Community:hover {
  transform-origin: 100% 100%; /* top left corner */
  transform: scale(1.005); /* scale up by 50% */
  box-shadow: 5px 5px 0px 0px var(--color);
}

.Church {
  grid-area: Church;
  border: 2.5px solid #ffffff;
  cursor: pointer;
}

.Church:hover {
  transform-origin: 100% 100%; /* top left corner */
  transform: scale(1.005); /* scale up by 50% */
  box-shadow: 5px 5px 0px 0px var(--color);
}

.Culture {
  grid-area: Culture;
  border: 2.5px solid #ffffff;
  cursor: pointer;
}

.Culture:hover {
  transform-origin: 100% 100%; /* top left corner */
  transform: scale(1.005); /* scale up by 50% */
  box-shadow: 5px 5px 0px 0px var(--color);
}

.Classroom {
  grid-area: Classroom;
  border: 2.5px solid #ffffff;
  cursor: pointer;
}

.Classroom:hover {
  transform-origin: 100% 100%; /* top left corner */
  transform: scale(1.005); /* scale up by 50% */
  box-shadow: 5px 5px 0px 0px var(--color);
}

.Court {
  grid-area: Court;
  border: 2.5px solid #ffffff;
  cursor: pointer;
}

.Court:hover {
  transform-origin: 100% 100%; /* top left corner */
  transform: scale(1.005); /* scale up by 50% */
  box-shadow: 5px 5px 0px 0px var(--color);
}
