#theme-open {
  position: fixed;
  top: 47.5%;
  right: -2px;
  height: 62px;
  font-size: 45px;
  color: var(--black);
  cursor: pointer;
  z-index: 100;
  border-radius: 24px;
}

#theme-open:hover {
  background-color: var(--main-color);
}

.themes-container {
  position: fixed;
  top: 0;
  right: -100%;
  background: var(--bg);
  border-left: var(--border);
  height: 100vh;
  width: 350px;
  z-index: 10;
  text-align: right;
  padding: 20px;
}

.themes-container.active {
  right: 0;
}
.themes-container #themes-close {
  font-size: 40px;
  color: var(--black);
  cursor: pointer;
}
#themes-close:hover {
  transform: scale(1.05);
}
.themes-container h3 {
  text-align: center;
  color: var(--main-color);
  border-top: var(--border);
  border-bottom: var(--border);
  padding: 15px 0;
  margin: 20px 0;
}

.themes-container .themes-toggler {
  display: flex;
  align-items: center;
  justify-content: center;
}

.themes-container .themes-toggler span {
  color: var(--black);
}
.themes-container .themes-toggler .toggler {
  height: 40px;
  width: 100px;
  border-radius: 50px;
  background: var(--light-bg);
  position: relative;
  cursor: pointer;
  border: var(--border);
  margin: 0 10px;
}

.themes-container .themes-toggler .toggler::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: #fff;
  transition: 0.2s linear;
}
.themes-container .themes-toggler.active .toggler::before {
  left: 65px;
}
.themes-container .themes-colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.themes-container .themes-colors .colors {
  border-radius: 5px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.themes-container .themes-colors .colors:hover {
  opacity: 0.5;
}
