@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Work+Sans:wght@300;400&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

:root {
  --bg: #1e1e1e;
  --txt: #ffffff;
  --color: #9747ff;
}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  color: var(--txt);
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: row;
  padding: 1.5rem 30rem;
  width: 100%;
  background-color: var(--bg);
}

.visible {
  /* add your desired effect here */
  opacity: 1;
  transform: translateY(0);
}
